body {
  background: black;
  color: white;
  font-family: "avenir next", avenir, sans-serif;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
}
.info {
  font-size: 0.7em;
  border-bottom: 1px solid #19999F;
}
.info .key {
  color: #19999F
}
.info .value {
  color: #2BA50E
}
.stock {
  padding: 0.2em 0.1em 0.25em 0.1em;
  border-bottom: 1px solid #19999F;
}
.stock .header {
  font-size: 0.8em;
  cursor: pointer;
}
.stock .price {
  font-size: 1em;
  float: right;
}
.stock .key {
  font-size: 0.6em;
}
.stock .value {
  font-size: 0.6em;
  color: orange;
}
.stock .last-transaction {
  line-height: 0.7em;
}
.stock .volumen {
  line-height: 0.7em;
}
.stock .up {
  color: green;
}
.stock .no-change {
  color: grey;
}
.stock .down {
  color: red;
}
.stock .signals {
  font-size: 0.6em;
}
.stock .signals .padding-right {
  padding-right: 0.8em;
}
.stock .signals .signal {
  color: #A49B09;
}
.stock .summary {
  font-size: 0.6em;
}